@model RegistrationDto;

@{
    var registrationErrors = TempData["RegistrationErrors"] as string;
}

<div>
    <form asp-route="RegistrationEndpoint" method="post">
        <div class="mb-3">
            <label asp-for=Login class="form-label">Name</label>
            <input asp-for=Login type="text" class="form-control">
            <span class="mt-2 d-block text-danger feedback-error" asp-validation-for="Login"></span>
        </div>
        <div class="mb-3">
            <label asp-for=Email class="form-label">Email address</label>
            <input asp-for=Email type="email" class="form-control">
            <span class="mt-2 d-block text-danger feedback-error" asp-validation-for="Email"></span>
        </div>
        <div class="mb-3">
            <label asp-for=Password class="form-label">Password</label>
            <input asp-for=Password type="password" class="form-control">
            <span class="mt-2 d-block text-danger feedback-error" asp-validation-for="Password"></span>
        </div>
        <div>@registrationErrors</div>

        <button type="submit" class="btn btn-success">Registration</button>
    </form>
</div>