@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron mt-4">
    <h1 class="display-4">Welcome to LearnEase,</h1>
    <p class="lead">the ultimate platform for accessing free, high-quality educational content. Our app is designed to bring you the best in online learning, offering a wide range of lectures across various subjects and disciplines. Whether you're a student, a professional looking to upskill, or simply a lifelong learner, LearnEase has something for everyone.</p>
</div>
