@using LearnEase.Models;
@model Feedback

@{
    var feedback = Model;
}

<style>
    .feedback-form {
        padding: 25px;
        border: 1px solid #d3d3d3;
        border-radius: 15px;
    }
</style>

<div class="change-page">
    <form class="feedback-form" action="/Feedback/Change/@feedback.Id" method="post">
        <div class="form-text mb-3">
            <label class="mb-3 h5 text-dark" for="feedback-textarea">Feedback:</label>
            <textarea class="form-control" id="feedback-textarea" rows="3" name="text" required maxlength="500">@feedback.Text</textarea>
        </div>

        <div class="form-rating mb-4">
            <div class="rating-heading h5 mb-2">
                Rate course:
            </div>

             <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Rating" id="rating1" value="1" name="Rating">
                <label class="form-check-label" for="rating1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Rating" id="rating2" value="2">
                <label class="form-check-label" for="rating2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Rating" id="rating3" value="3">
                <label class="form-check-label" for="rating3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Rating" id="rating4" value="4">
                <label class="form-check-label" for="rating4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Rating" id="rating5" value="5">
                <label class="form-check-label" for="rating5">5</label>
            </div>
        </div>

        <button class="change-btn btn btn-dark px-4">Change feedback</button>
    </form>
</div>