@using LearnEase.Models;
@model IEnumerable<Feedback>

<style>
    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        font-weight: 600;
        margin-bottom: 10px;
    }

    .feedback-heading {
        font-weight: 600;
        margin-bottom: 10px;
    }

    .feedback-form {
        padding: 25px;
        border: 1px solid #d3d3d3;
        border-radius: 15px;
    }

    .feedback-rating {
        margin-bottom: 20px;
    }

    .list-item {
        border: 1px solid #d3d3d3;
        border-radius: 15px;
        padding: 30px 30px 30px 30px;
    }

    .item-text  {
        font-size: 18px;
    }

    .item-rating {
        font-size: 26px;
    }
</style>

<div>
    @foreach (var feedback in Model)
        {
            <div class="list-item mb-4 d-flex justify-content-between align-items-center">
                <div class="item-text">
                    <div class="item-username h4 mb-3">
                        @(feedback.Username)
                    </div>
                    <div class="item-text feedback-item-text mb-2">
                        @(feedback.Text)
                    </div>
                    <div class="item-date feedback-item-text">
                        @(feedback.CreationDate)
                    </div>
                </div>

                <div class="item-rating feedback-item-text">
                    @(feedback.Rating ?? 0)/5
                </div>
            </div>
        }


    <form class="feedback-form" action="/Feedback" method="post">
        <div class="form-group">
            <label for="exampleFormControlInput1">Username</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your username" name="Username">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Feedback</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text"></textarea>
        </div>

        <div class="feedback-rating">
            <div class="feedback-heading">
                Rate course
            </div>

             <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" name="Rating">
                <label class="form-check-label" for="inlineRadio1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Rating" id="inlineRadio2" value="2">
                <label class="form-check-label" for="inlineRadio2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Rating" id="inlineRadio3" value="3">
                <label class="form-check-label" for="inlineRadio2">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Rating" id="inlineRadio4" value="4">
                <label class="form-check-label" for="inlineRadio2">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Rating" id="inlineRadio5" value="5">
                <label class="form-check-label" for="inlineRadio2">5</label>
            </div>
        </div>

        <button type="submit" class="btn btn-dark px-4">Add feedback</button>
    </form>
        
</div>
