@using System.Text.Json

@model LearnEase.Views.Course.Index
@{
    var coursesJson = await System.IO.File.ReadAllTextAsync("Assets/courses.json");

    var courses = JsonSerializer.Deserialize<IEnumerable<Course>>(coursesJson, new JsonSerializerOptions {
        PropertyNameCaseInsensitive = true,
    });
}

<div>
    <h1>All courses</h1>
    
    @foreach (var course in courses)
    {
        <p>@(course?.Name ?? "UNKNOWN")</p>
        <p>@(course?.Description ?? "UNKNOWN")</p>
        <p>Amount of lectures: @(course?.AmountOfLectures ?? 0)</p>
        <p>@(course?.CreationDate.ToString() ?? "UNKNOWN")</p>
        <hr>
    }
</div>